//
// Variables
// --------------------------------------------------

// Grays
// -------------------------
$gray-darker =                    lighten(#000, 13.5%) // #222
$gray-dark =                      lighten(#000, 20%)   // #333
$gray =                           lighten(#000, 33.5%) // #555
$gray-light =                     lighten(#000, 60%)   // #999
$gray-lighter =                   lighten(#000, 93.5%) // #eee

// Scaffolding
// -------------------------
$brand-color =                    $gray-dark
$content-bg =                     #f8f8f8
$footer-bg =                      #525252
$text-color =                     lighten($brand-color, 2%)
$edit-color =                     $state-success-text

$transition =                     all 0.3s ease
$border-radius-base =             2px
$border-radius-large =            $border-radius-base + 1

// Links
// -------------------------
$link-color =                     $text-color
$link-hover-color =               darken($link-color, 10%)
$link-visited-color =             lighten($link-color, 10%)

// Typography
// -------------------------
$font-family-sans-serif =         "Myriad Pro", Helvetica, Arial, sans-serif
$font-family-serif =              serif
$font-family-brand =              "stalin_oneregular", sans-serif
$font-family-base =               $font-family-sans-serif

$font-size-base =                 14px
$line-height-base =               1.4

// Buttons
// -------------------------
$button-color =                   #e5e5e5
$button-bg =                      $brand-color
$button-border =                  0

// Media queries breakpoints
// -------------------------
$screen-phone =                   480px
$screen-tablet-portrait =         768px
$screen-tablet-landscape =        1024px
$screen-desktop =                 1224px
$screen-large-desktop =           $screen-desktop + 200px // 1424

// Alerts
// -------------------------
$state-error-text =               #b94a48
$state-error-bg =                 #f2dede
$state-success-text =             #468847
$state-success-bg =               #dff0d8
$state-info-text =                #3a87ad
$state-info-bg =                  #d9edf7

// Paths
// -------------------------
$img-path =                       "assets/images/"
$sprite-path =                    "assets/images/global-sprite.png"
$sprite-x2-path =                 "assets/images/global-sprite-x2.png"
$font-path =                      "assets/fonts/"

// Selection highlight
// -------------------------
$selection-hightlight-color =     #b3d4fc

// Section colours
// -------------------------
$section-home-color =             #2ec239
$section-about-color =            #3e7fd7
$section-work-color =             #d13a3a
$section-projects-color =         #d57300
$section-blog-color =             #47c6bf
$section-contact-color =          #d5db3a
