//
// Sharedaddy
// --------------------------------------------------

@require "../base/variables";

div.sharedaddy.sd-sharing-enabled
  div.sd-block
    border-top 0
    margin-bottom 15px
    padding 0

    .sd-title
      color lighten($text-color, 30%)
      font-size $font-size-base - 1
      font-family $font-family-base
      font-weight normal
      width auto
      margin 0 0 10px

    .sd-content
      width 100%

      li
        float none

        a
          display block

// Share by email
#sharing_email
  label[for="target_email"]
    font-weight normal
    font-size $font-size-base - 1
    color lighten($text-color, 30%)

  #target_email
    margin-bottom 10px !important

  .sharing_send
    font-size $font-size-base - 1
    padding 5px 9px 3px

// $screen-phone devices (480px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-phone)
  div.sharedaddy.sd-sharing-enabled
    div.sd-block
      .sd-content
        li
          display inline-block

// $screen-tablet-portrait devices (768px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-tablet-portrait)
  div.sharedaddy.sd-sharing-enabled
    float right

    div.sd-block
      margin-bottom 0

      .sd-title
        margin-right 10px

      .sd-content
        width auto
