// "Post Item" page component
// -------------------------
.post-item {
    .box-shadow(0 2px 2px #ccc);
    background-color: @contentBackground;
    margin-bottom: 30px;
    padding: 10px 20px;
}

// @smartphoneLandscape devices and up
// -------------------------
@media only screen and (min-width: @smartphoneLandscape) {

    .post-item {
        padding: 15px 30px;
    }
}

// @tabletPortrait devices and up
// -------------------------
@media only screen and (min-width: @tabletPortrait) {

    .post-item {
        padding: 30px 40px;

        &:first-child {
            margin-top: 30px;
        }
    }
}

// @tabletLandscape devices and up
// -------------------------
@media only screen and (min-width: @tabletLandscape) {

    .post-item {
        .border-radius(@borderRadius + 1);

        &:first-child {
            margin-top: 0;
        }
    }
}
