// "Module" page component
// -------------------------
.module {
    margin-bottom: 30px;

    h1 {
        display: inline-block;
        font-size: @baseFontSize + 2;
        font-weight: bold;
        border-bottom: 1px solid #b8b8b8;
        margin: 0 0 14px;
        padding: 0 30px 4px 0;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    dl {
        margin: 0;
    }

    dd {
        margin-left: 0;
    }
}

// "Heros" module type
.module-heros {

    ul {
        padding-left: 14px;
    }

    li {
        margin-bottom: 15px;
    }

    .hero {
        display: block;
        min-height: 60px;
        position: relative;
        text-decoration: none;

        &:active {
            text-decoration: underline;
        }
    }

    .hero-title {
        font-weight: bold;
        padding: 10px 0 5px 75px;
    }

    .hero-description {
        font-size: @baseFontSize - 1;
        padding-left: 75px;
    }

    .hero-thumb {
        position: absolute;
        top: 0;
        left: 0;

        img {
            .border-radius(@borderRadius);
            .box-shadow(1px 1px 1px #aaa)
        }
    }
}

// "List" module type
.module-list {

    ul {
        list-style: disc;
        padding-left: 30px;
    }

    li {
        margin-bottom: 11px;

        a {
            display: block;
            text-decoration: none;

            &:active {
                text-decoration: underline;
            }
        }
    }
}

// "Thumbs" module type
.module-thumbs {

    ul {
        text-align: center;
        padding-left: 0;
        width: auto;
        display: table;
        margin-bottom: 11px;
    }

    li {
        display: table-cell;
        margin: 0;
        padding: 0 5px;
    }

    img {
        .border-radius(@borderRadius);
        .box-shadow(1px 1px 1px #aaa)
    }
}

// "Commits" and "Tweets" module type
.module-commits,
.module-tweets {

    ul {
        padding-left: 0;
    }

    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 44px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 12px;
            width: 17px;
            height: 22px;
            background: url("@{spritePath}") 0 -458px;

            // If HiDPI
            @media screen and (-webkit-min-device-pixel-ratio: 2) {
                background-image: url("@{spriteX2Path}");
                .background-size(48px auto);
            }
        }
    }

    // Clear timestamp in this scenario
    .timestamp {
        display: block;
    }
}

// "Tweets" module type
.module-tweets {

    li:before {
        width: 26px;
        height: 21px;
        left: 7px;
        background-position: 0 -432px;
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    // "Thumbs" module type
    .module-thumbs {

        li {
            padding: 0 10px;
        }
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    .module {
        width: 40%;
    }
}

// 780px devices and up
// -------------------------
@media only screen and (min-width: 780px) {

    .module {
        margin-bottom: 40px;
    }
}
