// "Common" page components
// -------------------------

// View more link
.view-more {
    text-align: right;
    font-weight: bold;
}

// Timestamp
.timestamp {
    color: lighten(@textColor, 30%);
    font-size: @baseFontSize - 1;
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {}
