// Global navigation
// -------------------------
.global-navigation {
    margin-bottom: 20px;

    ul {
        .visuallyhidden;
        text-align: right;
    }

    &.navigation-visible {

        ul {
            .visible;
            width: 100%;
        }

        .show-navigation {
            .visuallyhidden;
        }
    }

    li {
        #gradient > .vertical(lighten(@brandColor, 7%), lighten(@brandColor, .5%));
        .box-shadow(-1px 1px 1px #aaa);
        background-color: lighten(@brandColor, .5%);
        text-align: left;
        margin-bottom: 10px;

        &:hover {
            #gradient > .vertical(lighten(@brandColor, 9%), lighten(@brandColor, 2%));
            background-color: darken(@brandColor, 2%);
        }

        &:active {
            #gradient > .vertical(lighten(@brandColor, 6%), lighten(@brandColor, 9%));
            background-color: lighten(@brandColor, 9%);
        }
    }

    a {
        display: block;
        position: relative;
        text-decoration: none;
        color: #e5e5e5;
        padding: 10px 16px;

        // Icons
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 15px;
            background-image: url("@{spritePath}");

            // If HiDPI
            @media screen and (-webkit-min-device-pixel-ratio: 2) {
                background-image: url("@{spriteX2Path}");
                .background-size(48px auto);
            }
        }

        &:active {
            color: #fff;
        }

        &.current {
            text-decoration: underline;
        }
    }

    .home a:before {
        top: 12px;
        width: 14px;
        height: 14px;
        background-position: 0 -62px;
    }

    .about a:before {
        top: 13px;
        width: 12px;
        height: 12px;
        background-position: 0 -90px;
    }

    .work a:before {
        top: 14px;
        width: 13px;
        height: 11px;
        background-position: 0 -117px;
    }

    .projects a:before {
        top: 13px;
        width: 12px;
        height: 13px;
        background-position: 0 -143px;
    }

    .blog a:before {
        top: 13px;
        width: 11px;
        height: 13px;
        background-position: 0 -170px;
    }

    .contact a:before {
        top: 15px;
        width: 13px;
        height: 9px;
        background-position: 0 -197px;
    }
}

// "Show Navigation" link
.show-navigation {
    text-align: center;
    margin-bottom: 10px;

    a {
        #gradient > .vertical(lighten(@brandColor, 7%), lighten(@brandColor, .5%));
        .box-shadow(-1px 1px 1px #aaa);
        background-color: lighten(@brandColor, .5%);

        &:hover {
            #gradient > .vertical(lighten(@brandColor, 9%), lighten(@brandColor, 2%));
            background-color: darken(@brandColor, 2%);
        }

        &:active {
            #gradient > .vertical(lighten(@brandColor, 6%), lighten(@brandColor, 9%));
            background-color: lighten(@brandColor, 9%);
        }
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    .global-navigation {

        ul {
            .visible;
            text-align: center;
        }

        .show-navigation {
            .visuallyhidden;
        }

        li {
            .box-shadow(none);
            display: inline-block;
            text-align: center;
            border: 1px solid #ddd;
            width: 31%;
            margin-left: -4px;

            &:first-child,
            &:nth-child(4) {
                .border-top-left-radius(@borderRadius + 1);
                .border-bottom-left-radius(@borderRadius + 1);
            }

            &:nth-child(3),
            &:nth-child(6) {
                .border-top-right-radius(@borderRadius + 1);
                .border-bottom-right-radius(@borderRadius + 1);
            }
        }
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    .global-navigation {
        clear: left;
        margin-bottom: 0;

        ul {
            display: table;
            width: 100%;
        }

        li {
            width: auto;
            display: table-cell;
            margin-left: 0;

            &:first-child {
                .border-top-left-radius(@borderRadius + 1);
                .border-bottom-left-radius(@borderRadius + 1);
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(6) {
                .border-radius(0);
            }

            &:last-child {
                .border-top-right-radius(@borderRadius + 1);
                .border-bottom-right-radius(@borderRadius + 1);
            }
        }
    }
}

// 780px devices and up
// -------------------------
@media only screen and (min-width: 780px) {

    .global-navigation {
        width: 780px;
        margin: auto;
    }
}

// 1300px devices and up
// -------------------------
@media only screen and (min-width: 1300px) {

    .global-navigation {
        .transition(@transition);
        position: fixed;
        right: 0;
        top: 180px;
        width: 185px;
        margin-bottom: 60px;

        li {
            .border-top-left-radius(@borderRadius + 1) !important; // Override smaller screen size styles
            .border-bottom-left-radius(@borderRadius + 1) !important; // Override smaller screen size styles
            text-align: left;
            display: list-item;

            &:last-child {
                .border-top-right-radius(0);
                .border-bottom-right-radius(0);
            }
        }
    }
}
