// Global search
// -------------------------
.global-search {
    .transition(@transition);
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
}

// "Show Search" icon
.show-search {
    .visuallyhidden;
}

// Input
.global-search-input {
    .box-shadow(inset 0 1px 4px #777);
    font-family: @baseFontFamily;
    border: 0;
    border-radius: @borderRadius + 1;
    padding: 11px 14px;
}

// Button
.global-search-button {
    #gradient > .vertical(lighten(@brandColor, 7%), lighten(@brandColor, .5%));
    color: #d8dada;
    background-color: lighten(@brandColor, .5%);
    font-family: @brandFontFamily;
    border: 0;
    border-radius: @borderRadius + 1;
    margin-left: -6px;
    padding: 9px 12px 10px;

    &:hover {
        #gradient > .vertical(lighten(@brandColor, 9%), lighten(@brandColor, 2%));
        color: #eee;
        background-color: darken(@brandColor, 2%);
    }

    &:active {
        #gradient > .vertical(lighten(@brandColor, 6%), lighten(@brandColor, 9%));
        color: #fff;
        background-color: lighten(@brandColor, 9%);
    }
}

// @tabletPortrait devices and up
// -------------------------
@media only screen and (min-width: @tabletPortrait) {

    .global-search {
        float: right;
        margin: 46px 40px 0 0;

        form {
            .visuallyhidden;
        }

        &.search-visible {
            overflow: hidden;

            form {
                .visible;
            }

            // "Show Search" icon
            .show-search {
                .visuallyhidden;
            }
        }
    }

    // "Show Search" icon
    .show-search {
        .visible;
        margin-bottom: 0;

        a {
            .ir;
            .opacity(40);
            display: block;
            width: 48px;
            height: 48px;
            background-image: url("@{spritePath}");

            &:hover {
                .opacity(50);
            }

            &:active {
                .opacity(60);
            }
        }
    }
}

// @tabletLandscape devices and up
// -------------------------
@media only screen and (min-width: @tabletLandscape) {

    .global-search {
        position: fixed;
        top: 0;
        right: 10px;
    }

    // Box shadow if opened over scrolling content
    body.scrolling .search-visible {
        .box-shadow(-2px 2px 6px #aaa);
        border-radius: @borderRadius + 1;
    }
}

// @desktopWidthSecondary devices and up
// -------------------------
@media only screen and (min-width: @desktopWidthSecondary) {

    // Prevent box shadow if opened over scrolling content
    body.scrolling .search-visible {
        .box-shadow(none);
    }
}

// If HiDPI
// Can't be nested above unfortunately
@media screen and (-webkit-min-device-pixel-ratio: 2) {

    // "Show Search" icon
    .show-search {

        a {
            background-image: url("@{spriteX2Path}");
            .background-size(cover);
        }
    }
}
