// Global content
// -------------------------
.global-content {
    margin-bottom: 30px;

    // Responsive images
    img {
        max-width: 100%;
        height: auto;
    }

    .entry-title {

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h1 {
        font-weight: normal;
        font-size: @baseFontSize + 21;
        margin: 0 0 20px;
    }

    h2 {
        font-weight: normal;
        font-size: @baseFontSize + 16;
        margin: 0 0 15px;
    }

    h3 {
        font-weight: normal;
        font-size: @baseFontSize + 10;
        margin: 0 0 10px;
    }

    h4 {
        font-weight: normal;
        font-size: @baseFontSize + 6;
        margin: 0 0 10px;
    }

    .entry-meta {
        font-size: @baseFontSize - 1;
        color: lighten(@textColor, 35%);

        a {
            color: lighten(@textColor, 35%);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {}

    ul {}

    li {}

    blockquote {
        font-style: italic;
        margin: 0;
        padding: 20px;

        small {
            font-style: normal;
        }
    }
}

.global-content-page {
    .box-shadow(0 2px 2px #ccc);
    background-color: @contentBackground;
    padding: 10px 20px 20px;
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    .global-content-page {
        padding: 15px 30px 30px;
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    .global-content {
        .clearfix;
    }

    .global-content-page {
        padding: 30px 40px 40px;
    }
}

// 780px devices and up
// -------------------------
@media only screen and (min-width: 780px) {

    .global-content {
        width: 780px;
        margin: auto auto 30px;
    }

    .global-content-page {
        .border-bottom-left-radius(@borderRadius + 1);
        .border-bottom-right-radius(@borderRadius + 1);
    }
}

// 1350px devices and up
// -------------------------
@media only screen and (min-width: 1350px) {

    .global-content {
        margin: 110px auto;
    }

    .global-content-page {
        .border-top-left-radius(@borderRadius + 1);
        .border-top-right-radius(@borderRadius + 1);
    }
}
