// Global content
// -------------------------
.global-content {
    margin-bottom: 30px;
    padding: 10px 20px 20px;

    // Responsive images
    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-weight: normal;
        font-size: @baseFontSize + 21;
        margin: 0 0 20px;
    }

    h1 {}

    h1 {}

    h1 {}

    h1 {}

    p {}

    ul {}

    li {}
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    .global-content {
        padding: 15px 30px 30px;
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    .global-content {
        .clearfix;
        padding: 20px 40px 40px;
    }
}

// 780px devices and up
// -------------------------
@media only screen and (min-width: 780px) {

    .global-content {
        width: 780px;
        margin: auto auto 30px;
    }
}

// 1300px devices and up
// -------------------------
@media only screen and (min-width: 1300px) {

    .global-content {
        min-height: 450px;
        margin: 120px auto 100px;
    }
}
