// Global social links
// -------------------------
.global-social-links {

    ul {
        list-style: none;
        margin: 0 0 20px 40%;
        padding-left: 0;
    }

    li {
        margin: 0 0 20px;
    }

    a {
        .opacity(50);
        display: inline-block;
        min-height: 25px;
        text-decoration: none;
        background: url("@{imgPath}global-sprite.png") no-repeat;
        padding: 4px 4px 0 35px;

        &:hover {
            .opacity(60);
        }

        &:active {
            .opacity(70);
            text-decoration: underline;
        }
    }

    // GitHub
    .github a {
        background-position: 0 -221px;
    }

    // Twitter
    .twitter a {
        background-position: 0 -250px;
    }

    // LinkedIn
    .linkedin a {
        background-position: 0 -280px;
    }

    // Quora
    .quora a {
        background-position: 0 -309px;
    }

    // Facebook
    .facebook a {
        background-position: 0 -250px;
    }

    // Last.fm
    .lastfm a {
        background-position: 0 -368px;
    }

    // Email
    .email a {
        background-position: 0 -398px;
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {}
