// Global content
// -------------------------
.global-content {
    margin-bottom: 30px;
    padding: 0 20px;

    // Responsive images
    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-weight: normal;
        font-size: @baseFontSize + 20;
        margin: 0 0 20px;
    }

    h1 {}

    h1 {}

    h1 {}

    h1 {}

    p {}

    ul {}

    li {}
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    .global-content {
        padding: 0 30px;
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    .global-content {
        .clearfix;
        padding: 0 40px;
    }
}

// 780px devices and up
// -------------------------
@media only screen and (min-width: 780px) {

    .global-content {
        width: 700px;
        padding: 0;
        margin: auto auto 30px;
    }
}
