// "Home" section specific styles
// -------------------------
body.home {

    // Global header
    .global-header .global-header-logo:hover:first-letter {
        color: @homeColor;
    }
}

// Site introduction
.home-intro {
    margin-bottom: 30px;

    h1 {
        text-shadow: 0 0 5px #fff;
    }

    ul {
        list-style: none;
        padding: 0 30px;
    }

    li {
        font-size: @baseFontSize + 1;
        text-shadow: 0 0 5px #fff;
    }

    a {
        display: inline-block;
        min-height: 23px;
        text-decoration: none;
        padding: 4px 0 0 35px;
    }

    .about {}

    .work {}
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    body.home {

        // "Companies I've worked with" module
        .module-thumbs {

            li {
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

// 700px devices and up
// -------------------------
@media only screen and (min-width: 700px) {

    body.home {

        // "Recent work/projects" module
        .module-heros {
            float: left;
        }

        // "Recent blog posts" module
        .module-list {
            float: right;
        }

        // "Companies I've worked with" module
        .module-thumbs {
            float: left;
            width: 100%;

            ul {
                text-align: left;
            }
        }
    }
}
