// Variables
// -------------------------

// Scaffolding
@brandColor:                    #333;
@contentBackground:             #f2f2f2;
@footerBackground:              #525252;
@textColor:                     lighten(@brandColor, 2%);
@borderRadius:                  2px;
@transition:                    all 0.3s ease;

// Links
@linkColor:                     @textColor;
@linkColorHover:                darken(@linkColor, 15%);
@linkColorVisited:              lighten(@linkColor, 15%);

// Typography
@sansFontFamily:                'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@serifFontFamily:               serif;
@brandFontFamily:               'stalin_oneregular', sans-serif;

@baseFontSize:                  14px;
@baseFontFamily:                @sansFontFamily;
@baseLineHeight:                1.4;

// Images path
@imgPath:                       '../images/';
@spritePath:                    '../images/global-sprite.png';
@spriteX2Path:                  '../images/global-sprite-x2.png';

// Selection highlight
@selectionHightlightColor:      #b3d4fc;

// Page colours
@homeColor:                     #2ec239;
@aboutColor:                    #3e7fd7;
@workColor:                     #d13a3a;
@projectsColor:                 #d57300;
@blogColor:                     #47c6bf;
@contactColor:                  #d5db3a;
