/*
 * Compiled stylesheet for AlecRust.com
 * View source at: https://github.com/alecrust/alec-rust
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.ie7-inline-block {
  *display: inline;
  *zoom: 1;
}
@font-face {
  font-family: 'stalin_oneregular';
  src: url('../fonts/stalinone-regular-webfont.eot');
  src: url('../fonts/stalinone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/stalinone-regular-webfont.woff') format('woff'), url('../fonts/stalinone-regular-webfont.ttf') format('truetype'), url('../fonts/stalinone-regular-webfont.svg#stalin_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #383838;
}
body {
  color: #383838;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background: #d8d8d8 url("../images/body-bg-tile.png") fixed;
  background-size: 100%;
}
a {
  color: #383838;
}
a:hover {
  color: #121212;
}
a:visited {
  color: #5e5e5e;
}
p {
  margin: 0 0 1em;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
nav ul,
nav ol {
  margin: 0;
  padding: 0;
}
.chromeframe {
  color: #383838;
  background-color: #f2efc4;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.global-header {
  position: relative;
}
.global-header-logo {
  font-size: 23px;
  font-family: 'stalin_oneregular', sans-serif;
  text-align: center;
  margin: 36px 0 -2px;
}
.global-header-logo:first-letter {
  background-color: #3e3e3e;
  background-image: -moz-linear-gradient(top, #454545, #333333);
  background-image: -ms-linear-gradient(top, #454545, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#333333));
  background-image: -webkit-linear-gradient(top, #454545, #333333);
  background-image: -o-linear-gradient(top, #454545, #333333);
  background-image: linear-gradient(top, #454545, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#333333', GradientType=0);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
  -moz-box-shadow: 1px 1px 1px #aaaaaa;
  box-shadow: 1px 1px 1px #aaaaaa;
  font-size: 35px;
  color: #c5c5c5;
  background-color: #333333;
  text-shadow: -1px -1px 0 #222222;
  padding: 7px 10px;
}
.global-header-logo a {
  color: #333333;
  text-decoration: none;
  text-shadow: 1px 1px 1px #aaa;
}
.global-header-logo a:hover {
  color: #404040;
}
.global-header-tagline {
  width: 226px;
  color: #7b7b7b;
  font-size: 12px;
  font-weight: normal;
  margin: auto auto 30px;
  padding-left: 60px;
}
@media only screen and (min-width: 30em) {
  
}
.global-search {
  text-align: center;
  margin-bottom: 30px;
}
.global-search-input {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: inset 0 1px 4px #777777;
  -moz-box-shadow: inset 0 1px 4px #777777;
  box-shadow: inset 0 1px 4px #777777;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  padding: 11px 14px;
}
.global-search-button {
  background-color: #3e3e3e;
  background-image: -moz-linear-gradient(top, #454545, #343434);
  background-image: -ms-linear-gradient(top, #454545, #343434);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#343434));
  background-image: -webkit-linear-gradient(top, #454545, #343434);
  background-image: -o-linear-gradient(top, #454545, #343434);
  background-image: linear-gradient(top, #454545, #343434);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#343434', GradientType=0);
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  color: #d8dada;
  background-color: #343434;
  font-family: 'stalin_oneregular', sans-serif;
  border: 0;
  margin-left: -4px;
  padding: 9px 12px 10px;
}
.global-search-button:hover {
  background-color: #434343;
  background-image: -moz-linear-gradient(top, #4a4a4a, #383838);
  background-image: -ms-linear-gradient(top, #4a4a4a, #383838);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4a), to(#383838));
  background-image: -webkit-linear-gradient(top, #4a4a4a, #383838);
  background-image: -o-linear-gradient(top, #4a4a4a, #383838);
  background-image: linear-gradient(top, #4a4a4a, #383838);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#383838', GradientType=0);
  color: #eee;
  background-color: #2e2e2e;
}
.global-search-button:active {
  background-color: #454545;
  background-image: -moz-linear-gradient(top, #424242, #4a4a4a);
  background-image: -ms-linear-gradient(top, #424242, #4a4a4a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#424242), to(#4a4a4a));
  background-image: -webkit-linear-gradient(top, #424242, #4a4a4a);
  background-image: -o-linear-gradient(top, #424242, #4a4a4a);
  background-image: linear-gradient(top, #424242, #4a4a4a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#4a4a4a', GradientType=0);
  color: #fff;
  background-color: #4a4a4a;
}
@media only screen and (min-width: 30em) {
  
}
.global-navigation {
  margin-bottom: 20px;
}
.global-navigation li {
  background-color: #3e3e3e;
  background-image: -moz-linear-gradient(top, #454545, #343434);
  background-image: -ms-linear-gradient(top, #454545, #343434);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#343434));
  background-image: -webkit-linear-gradient(top, #454545, #343434);
  background-image: -o-linear-gradient(top, #454545, #343434);
  background-image: linear-gradient(top, #454545, #343434);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#343434', GradientType=0);
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: -1px 1px 1px #aaaaaa;
  -moz-box-shadow: -1px 1px 1px #aaaaaa;
  box-shadow: -1px 1px 1px #aaaaaa;
  background-color: #343434;
  margin: 0 0 10px 15%;
}
.global-navigation li:hover {
  background-color: #434343;
  background-image: -moz-linear-gradient(top, #4a4a4a, #383838);
  background-image: -ms-linear-gradient(top, #4a4a4a, #383838);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4a), to(#383838));
  background-image: -webkit-linear-gradient(top, #4a4a4a, #383838);
  background-image: -o-linear-gradient(top, #4a4a4a, #383838);
  background-image: linear-gradient(top, #4a4a4a, #383838);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#383838', GradientType=0);
  background-color: #2e2e2e;
}
.global-navigation li:active {
  background-color: #454545;
  background-image: -moz-linear-gradient(top, #424242, #4a4a4a);
  background-image: -ms-linear-gradient(top, #424242, #4a4a4a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#424242), to(#4a4a4a));
  background-image: -webkit-linear-gradient(top, #424242, #4a4a4a);
  background-image: -o-linear-gradient(top, #424242, #4a4a4a);
  background-image: linear-gradient(top, #424242, #4a4a4a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#4a4a4a', GradientType=0);
  background-color: #4a4a4a;
}
.global-navigation a {
  display: block;
  text-decoration: none;
  color: #e5e5e5;
  padding: 11px 16px;
}
.global-navigation a:active {
  color: #fff;
}
.global-navigation a.current {
  text-decoration: underline;
}
@media only screen and (min-width: 30em) {
  
}
.global-content {
  padding: 0 20px;
}
.global-content h1 {
  font-weight: normal;
  font-size: 34px;
  margin: 0 0 20px;
}
@media only screen and (min-width: 30em) {
  
}
@media only screen and (min-width: 30em) {
  
}
.global-footer {
  -webkit-box-shadow: inset 0 4px 8px #454545;
  -moz-box-shadow: inset 0 4px 8px #454545;
  box-shadow: inset 0 4px 8px #454545;
  color: #cdcfcf;
  background-color: #525252;
  text-align: center;
  padding: 40px;
}
.global-footer p {
  margin: 0;
}
.global-footer a {
  color: #cdcfcf;
  text-decoration: none;
}
.global-footer a:hover {
  text-decoration: underline;
}
.global-footer a:active {
  color: #eee;
}
@media only screen and (min-width: 30em) {
  
}
.module {
  margin-bottom: 20px;
}
.module h1 {
  display: inline-block;
  border-bottom: 1px solid #b8b8b8;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 14px;
  padding: 0 30px 3px 0;
}
.module ul {
  margin: 0;
}
.module dl {
  margin: 0;
}
.module dd {
  margin-left: 0;
}
.module-heros ul {
  list-style: none;
  padding-left: 14px;
}
.module-heros li {
  margin-bottom: 15px;
}
.module-heros .hero {
  display: block;
  min-height: 60px;
  position: relative;
  text-decoration: none;
}
.module-heros .hero:active {
  text-decoration: underline;
}
.module-heros .hero-title {
  font-weight: bold;
  padding: 10px 0 5px 75px;
}
.module-heros .hero-description {
  padding-left: 75px;
}
.module-heros .hero-thumb {
  position: absolute;
  top: 0;
  left: 0;
}
.module-heros .hero-thumb img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
  -moz-box-shadow: 1px 1px 1px #aaaaaa;
  box-shadow: 1px 1px 1px #aaaaaa;
}
.module-list ul {
  padding-left: 30px;
}
.module-list li {
  margin-bottom: 11px;
}
.module-list li a {
  display: block;
  text-decoration: none;
}
@media only screen and (min-width: 30em) {
  
}
.view-more {
  text-align: right;
  font-weight: bold;
}
@media only screen and (min-width: 30em) {
  
}
body.home .global-header .global-header-logo:hover:first-letter {
  color: #2ec239;
}
.home-intro {
  margin-bottom: 20px;
}
.home-intro h1 {
  text-shadow: 0 0 5px #fff;
}
.home-intro ul {
  list-style: none;
  padding: 0 30px;
}
.home-intro li {
  font-size: 15px;
  text-shadow: 0 0 5px #fff;
}
.home-intro a {
  text-decoration: none;
}
@media only screen and (min-width: 30em) {
  
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
