//
// Post
// --------------------------------------------------

@require "../base/variables";

.post
  position relative
  box-shadow 0 2px 2px lighten($gray-light, 20%)
  background-color $content-bg
  margin-bottom 30px
  padding 15px 20px

// $screen-phone devices (480px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-phone)
  .post
    padding 15px 30px

// $screen-tablet-portrait devices (768px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-tablet-portrait)
  .post
    padding 30px 40px

    &:first-child
      margin-top 30px

// $screen-tablet-landscape devices (1024px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-tablet-landscape)
  .post
    border-radius $border-radius-large

    &:first-child
      margin-top 0
