// "Common" page components
// -------------------------

// View more link
.view-more {
    text-align: right;
    font-weight: bold;

    a {
        display: inline-block;

        // CSS arrow
        &:after {
            content: "";
            display: inline-block;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 10px solid @link-color;
            margin: 0 0 -1px 8px;
        }

        &:visited:after {
            border-left-color: @link-color-visited;
        }

        &:hover:after {
            border-left-color: @link-color-hover;
        }
    }
}

// Timestamp
.timestamp {
    color: lighten(@text-color, 30%);
    font-size: @base-font-size - 1;

    a {
        color: lighten(@text-color, 30%);
        text-decoration: none;
    }
}

// Edit link
.edit-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;

    .post-edit-link {
        color: #eee;
        background-color: @edit-color;
        display: inline-block;
        text-decoration: none;
        padding: 5px 12px;

        &:hover {
            color: #fff;
            background-color: lighten(@edit-color, 5%);
        }

        &:active {
            text-decoration: underline;
        }
    }
}
