// "Comments" page component
// Below styling is a little messy due to default comments output
// TODO: Improve comments code output and update this styling
// -------------------------
.comments-area {
    padding: 0 20px 20px;

    // Comments area title
    .comments-title {
        margin-bottom: 20px;
    }

    .commentlist {
        list-style: none;
        margin: 0 0 25px;
        padding-left: 0;
    }

    // Nested comments list
    .children {
        list-style: none;
        margin: 0;
        padding-left: 20px;
    }

    // Single comment
    article.comment {
        .box-shadow(0 2px 2px #ccc);
        position: relative;
        border-radius: @border-radius + 1;
        background-color: @content-background;
        margin-bottom: 10px;

        .comment-meta {
            overflow: hidden; // .clearfix destroys img border-radius

            .avatar {
                border-top-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                float: left;
            }

            .author {
                float: left;
                font-style: normal;
                padding: 15px 0 0 10px;
            }

            .timestamp {
                float: right;
                text-decoration: none;
                padding: 15px 10px 0 0;
            }
        }

        .comment-content {
            padding: 20px 10px 10px;

            p {
                margin-bottom: 10px;
            }
        }

        .reply a {
            .border-bottom-radius(@border-radius);
            display: block;
            font-size: @base-font-size - 1;
            text-align: center;
            text-decoration: none;
            background-color: #eee;
            border-top: 1px solid #ddd;
            padding: 5px;

            &:hover {
                background-color: #e9e9e9;
            }

            &:active {
                background-color: #e5e5e5;
            }
        }

        .edit-link {
            width: 100%;
            text-align: center;
        }
    }

    // "Comment awaiting moderation" info alert
    .comment-awaiting-moderation {
        text-align: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: @state-info-bg;
        margin-bottom: 0;
        padding: 5px;
    }

    // Wrapper of respond area
    #respond {
        padding: 0 20px;
    }

    // Cancel reply link
    #cancel-comment-reply-link {
        font-size: @base-font-size - 1;
    }

    .required {
        color: @state-error-text;
    }

    label {
        display: block;
    }
}

// @smartphone-landscape devices and up
// -------------------------
@media only screen and (min-width: @smartphone-landscape) {

    .comments-area {
        padding: 0 30px 30px;
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .comments-area {
        width: 80%;
        margin: auto;
        padding: 0 40px 40px;

        // Single comment
        article.comment {
            margin-bottom: 20px;
        }
    }
}
