// "Common" page components
// -------------------------

// View more link
.view-more {
    text-align: right;
    font-weight: bold;

    a {
        display: inline-block;

        // CSS arrow
        &:after {
            content: "";
            display: inline-block;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 10px solid @link-color;
            margin: 0 0 -1px 8px;
        }

        &:visited:after {
            border-left-color: @link-color-visited;
        }

        &:hover:after {
            border-left-color: @link-color-hover;
        }
    }
}

// Timestamp
.timestamp {
    color: lighten(@text-color, 30%);
    font-size: @base-font-size - 1;
    text-decoration: none; // If .timestamp class appears on anchor

    &:hover {
        color: lighten(@text-color, 35%); // If .timestamp class appears on anchor
    }

    a {
        color: lighten(@text-color, 35%);
        text-decoration: none;

        &:hover {
            color: lighten(@text-color, 35%);
        }
    }
}

// Archive title
.archive-title {
    padding-left: 20px;
}

// Hide archive title on Blog index
.category-blog .archive-title {
    .visuallyhidden
}

// Edit link
.edit-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;

    .post-edit-link {
        .border-bottom-left-radius(@border-radius);
        color: #eee;
        background-color: @edit-color;
        display: inline-block;
        text-decoration: none;
        padding: 5px 12px 3px;

        &:hover {
            color: #fff;
            background-color: lighten(@edit-color, 5%);
        }

        &:active {
            text-decoration: underline;
        }
    }
}

// Comments link
.comments-link {
    float: left;

    a {
        color: lighten(@text-color, 30%);
        text-decoration: none;

        &:hover {
            color: lighten(@text-color, 15%);
        }

        &:active {
            color: @text-color;
        }
    }
}

// Google Code Prettify
.prettyprint {
    border-radius: @border-radius;
    padding: 10px 15px;
}

// @smartphone-landscape devices and up
// -------------------------
@media only screen and (min-width: @smartphone-landscape) {

    // Archive title
    .archive-title {
        padding-left: 30px;
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    // Archive title
    h1.archive-title { // Increased specificity to overrid .global-content h1
        margin-top: 20px;
        padding-left: 40px;
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    // Edit link
    .edit-link {

        .post-edit-link {
            .border-top-right-radius(@border-radius + 1);
        }
    }
}

// @desktop-width devices and up
// -------------------------
@media only screen and (min-width: @desktop-width) {

    // Archive title
    h1.archive-title { // Increased specificity to overrid .global-content h1
        margin-top: 0;
    }
}
