// "Post" page component
// Used on actual post page, as well as other instances like search results
// -------------------------
.post {
    .box-shadow(0 2px 2px #ccc);
    position: relative;
    background-color: @content-background;
    margin-bottom: 30px;
    padding: 15px 20px;

    .entry-title {

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .entry-content {

        p {
            font-size: @base-font-size + 1;
        }
    }

    .entry-meta {
        .clearfix;
        font-size: @base-font-size - 1;
        color: lighten(@text-color, 35%);

        .comments-link {
            float: left;

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .timestamp {
            float: right;
        }

        p {
            margin-bottom: 0;
        }
    }
}

// @smartphone-landscape devices and up
// -------------------------
@media only screen and (min-width: @smartphone-landscape) {

    .post {
        padding: 15px 30px;
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .post {
        padding: 30px 40px;

        &:first-child {
            margin-top: 30px;
        }

        .entry-title {
            padding-right: 110px;
        }

        .entry-meta {

            .timestamp {
                position: absolute;
                top: 52px;
                right: 40px;
            }
        }
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    .post {
        border-radius: @border-radius + 1;

        &:first-child {
            margin-top: 0;
        }
    }
}
