// "Post Item" page component
// -------------------------
.post {
    .box-shadow(0 2px 2px #ccc);
    background-color: @content-background;
    margin-bottom: 30px;
    padding: 10px 20px;

    .entry-title {

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .entry-meta {
        text-align: right;
        font-size: @base-font-size - 1;
        color: lighten(@text-color, 35%);

        a {
            color: lighten(@text-color, 35%);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .entry-content {

        p {
            font-size: @base-font-size + 1;
        }
    }
}

// @smartphone-landscape devices and up
// -------------------------
@media only screen and (min-width: @smartphone-landscape) {

    .post {
        padding: 15px 30px;
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .post {
        position: relative;
        padding: 30px 40px;

        &:first-child {
            margin-top: 30px;
        }

        .entry-title {
            padding-right: 110px;
        }

        .entry-meta {
            position: absolute;
            top: 52px;
            right: 40px;
            text-align: left;
        }
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    .post {
        border-radius: @border-radius + 1;

        &:first-child {
            margin-top: 0;
        }
    }
}
