// Page
// -------------------------
.page {

    .global-content {
        .box-shadow(0 2px 2px #ccc);
        background-color: @content-background;
        padding: 10px 20px;
    }
}

// Remove background colour on home page
body.page-home {

    &.page .global-content {
        .box-shadow(none);
        background-color: transparent;
    }
}

// @smartphone-landscape devices and up
// -------------------------
@media only screen and (min-width: @smartphone-landscape) {

    .page {

        .global-content {
            padding: 15px 30px;
        }
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .page {

        .global-content {
            padding: 30px 40px;
        }
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    .page {

        .global-content {
            border-radius: @border-radius + 1;
        }
    }
}
