//
// Post
// --------------------------------------------------
.post {
    .box-shadow(0 2px 2px #ccc);
    position: relative;
    background-color: @content-bg;
    margin-bottom: 30px;
    padding: 15px 20px;
}

// @screen-smartphone-landscape devices and up
// --------------------------------------------------
@media only screen and (min-width: @screen-smartphone-landscape) {

    .post {
        padding: 15px 30px;
    }
}

// @screen-tablet-portrait devices and up
// --------------------------------------------------
@media only screen and (min-width: @screen-tablet-portrait) {

    .post {
        padding: 30px 40px;

        &:first-child {
            margin-top: 30px;
        }
    }
}

// @screen-tablet-landscape devices and up
// --------------------------------------------------
@media only screen and (min-width: @screen-tablet-landscape) {

    .post {
        border-radius: @border-radius-large;

        &:first-child {
            margin-top: 0;
        }
    }
}
