// Global content
// -------------------------
.global-content {
    position: relative;
    margin-bottom: 30px;
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .global-content {
        .clearfix;
        margin: auto auto 30px;
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    .global-content {
        width: 69%;
        min-height: 30em; // Prevent social icons/navigation overlapping footer if little content
        margin: 110px auto;
    }
}

// @desktop-width devices and up
// -------------------------
@media only screen and (min-width: @desktop-width) {

    .global-content {
        width: 57%;
    }
}
