// Global content
// -------------------------
.global-content {
    position: relative;
    margin-bottom: 30px;

    // Responsive images
    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-weight: normal;
        font-size: @base-font-size + 21;
        margin: 0 0 20px;
    }

    h2 {
        font-weight: normal;
        font-size: @base-font-size + 12;
        margin: 0 0 25px;
    }

    h3 {
        font-weight: normal;
        font-size: @base-font-size + 10;
        margin: 0 0 10px;
    }

    h4 {
        font-weight: normal;
        font-size: @base-font-size + 6;
        margin: 0 0 10px;
    }

    blockquote {
        font-style: italic;
        margin: 0;
        padding: 20px;

        small {
            font-style: normal;
        }
    }
}

// @tablet-portrait devices and up
// -------------------------
@media only screen and (min-width: @tablet-portrait) {

    .global-content {
        .clearfix;
        margin: auto auto 30px;
    }
}

// @tablet-landscape devices and up
// -------------------------
@media only screen and (min-width: @tablet-landscape) {

    .global-content {
        width: 69%;
        min-height: 30em; // Prevent social icons/navigation overlapping footer if little content
        margin: 110px auto;
    }
}

// @desktop-width devices and up
// -------------------------
@media only screen and (min-width: @desktop-width) {

    .global-content {
        width: 57%;
    }
}
