//
// Module base
// --------------------------------------------------

@require "../../base/variables";

.module
  margin-bottom 30px

  h2
    display inline-block
    font-size $font-size-base + 2
    font-weight bold
    border-bottom 1px solid #b8b8b8
    margin 0 0 14px
    padding 0 30px 4px 0

    a
      color $text-color
      text-decoration none

  ul
    list-style none
    margin 0

  dl
    margin 0

  dd
    margin-left 0

  .timestamp
    display inline-block

// $screen-tablet-portrait devices (768px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-tablet-portrait)
  .module
    width 40%
    margin-bottom 40px
