//
// Home page specific module styling
// --------------------------------------------------

@require "../../base/variables";

// $screen-tablet-portrait devices (768px) and up
// --------------------------------------------------
@media only screen and (min-width $screen-tablet-portrait)
  // Home page specific module styling
  body.page-home
    // "Recent work/projects" module
    .module-heros
      float left

    // "Recent blog posts" module
    .module-list
      float right

    // "Companies I've worked with" module
    .module-thumbs
      float left

    // "Recent GitHub activity" module
    .module-activity
      float left

    // "Recent tweets" module
    .module-tweets
      float right
